@import "tailwindcss";

.font-playfair {
  font-family: var(--font-playfair), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Updated to use the CSS variable */
.font-bricolage {
  font-family: var(--font-bricolage), sans-serif;
}

html, body, :root { height: 100%; }